body{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
.firstwrapper{
    padding: 10px;
    margin: 20px;
    height: 800px;
    border-radius: 7px;
    background: rgba(153, 148, 186, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(153, 148, 186, 0.3);
    margin-right: 2.5em;
    margin-bottom: 2.5rem;
}
.secondwrapper{
    height: 70px;
    padding: 0.8rem;
    display: flex;
    justify-items: baseline;

    text-align: center;

}
.mainlogo{
padding-top: -2rem;
font-size: 3em;
}
.nav{
    justify-content: space-between;
    position: absolute;
    right: 1.285em;
    top: 2.5em;
    font-size: 1.8em;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    outline: white;
    display: inline;

}
.pagespan{
    color: blueviolet;
}
.firstHero{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    -webkit-text-stroke: .09rem black;
}
.secondHero{
    color: white;
    text-align: center;
    font-size: 2rem;
}
.firstContainer{
    height: 28em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.images{
    flex: 1 1 0;
    display: flex;
    padding: 1em;

}
.images img{
    width: 100%;
    height: 100%;
    scale: initial;
    border-radius: 20px;
}
.secondFlex{
    border: solid 4px white;
    padding: 10px;
    margin: 20px;
    height: 50rem;
    border-radius: 7px;
    background: rgba(153, 148, 186, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(153, 148, 186, 0.3);
    margin-right: 2.5em;
}
h1{
    text-align: center;
    font-size: 3.25rem;
    color: white;
    -webkit-text-stroke: .09rem black;
}
.secondContainer{
    border: solid 4px white;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.scItems{
    flex: 1 1 0;
    padding: 1em;
    text-align: center;
}
.scItems img{
    width: 100%;
    height: 60%;
    scale: initial;
    border-radius: 20px;

}

.scItems{
    font-size: 1.5em;
}












@media only screen and (max-width: 680px) {
    .phoneCover{
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        min-height: 100%;
    }
    .mainlogo{
        font-size: 3em;
        top: 1rem;
        position: absolute;

    }
    .firstwrapper{
        padding: 10px;
        margin: 20px;
        border-radius: 7px;
        background: rgba(153, 148, 186, 0.42);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.7px);
        -webkit-backdrop-filter: blur(12.7px);
        border: 1px solid rgba(153, 148, 186, 0.3);
        margin-right: 2.5em;
        flex-direction: column;
        justify-items: auto;
        flex-wrap: wrap;
        display: block;
        overflow: auto;
    }
    .firstContainer{
        height: 28em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }
    .images{
        flex: 1 1 0;
        display: flex;
        padding: 1em;
    }
    .images img{
        width: 100%;
        height: 100%;
        scale: inherit;
        border-radius: 20px;
    }
}