body{
    background-image: url('wallpapersden.com_cool-4k-pattern_3840x2160.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: white;
}